*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(58, 129, 0);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: none;
}
.score{
    font-size: 4em;
    margin-bottom: .5em;
}
.board{
    height: 600px;
    width: 600px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;

        /* make image tags are not dragable and pastable */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.hole{
    background-color: rgb(165, 85, 11);
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
                inset 0 20px 20px 15px rgba(0, 0, 0, .3),
                0 0 5px rgba(0, 0, 0, 5);
    position: relative;
    overflow: hidden;
}
.hole .mole{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    animation: rise .3s ease-out; /* animation for the mole to come out of the hole */
}
@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0%);
    }
}
.cursor{
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('assets/hammer.png');
    background-size: 100% 100%;
    transform: translate(-20%, -20%); /* Cursor Position on the hammer */
    transition: transform .1s;
    pointer-events: none;
}
.cursor.active{
    transform: translate(-20%, -20%) rotate(-45deg);
}



#banana-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.banana-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.banana-container img {
  width: 600px;
  height: auto;
  margin-bottom: 10px;
}

.banana-container input {
  padding: 5px 10px;
  font-size: 16px;
  margin: 10px;
}

.banana-container button {
  padding: 5px 15px;
  cursor: pointer;
  font-size: 16px;
}


#gameover-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.gameover-container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  font-family: Arial, sans-serif;
  animation: fadeIn 0.4s ease-in-out;
}

.gameover-container h2 {
  color: crimson;
  margin-bottom: 10px;
}

.gameover-container p {
    color: blue;
  font-size: 18px;
  margin: 10px 0;
}

.gameover-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.gameover-container button:hover {
  background-color: darkred;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
